* {
  box-sizing: border-box;
}

.container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

img {
  display: none;
  height: 400px;
  width: 400px;
}

.content-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dot-box {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

.active {
  display: block;
}
